@model CarSystem.ViewModels.LatestCarViewModel
@{
    ViewBag.Title = "Latest";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Latest Car</h2>
<p>@Model.Car.Make</p>

@* This is my commment *@

<ul>
    @foreach (var cust in Model.Customers)
    {
        <li>@cust.Name</li>
    }
</ul>